<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данные</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
       <a href="/">Загрузка</a> |
        <a href="/model_selection">Обработка данных</a>|
        <a href="/show_data">Показать датасет</a>|
        <a href="/show_data_result">Показать результат обучения модели</a>|
        <a href="/confusion_matrix">Показать матрицу ошибок</a>

        
    </nav>
    <h1>Данные</h1>

    <form action="/save_to_db" method="post">
        <button type="submit">Записать в DB</button>
    </form>
    <br>
    <form action="/select_columns" method="get">
        <input type="submit" value="Удалить столбцы">
    </form>
    <br>
      

    {{ data | safe }}
    <br>
    <a href="/">Назад</a>
</body>
</html>